@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<div class="text-center">
    <canvas id="grid"></canvas>

    <script>//creating a function that will draw a grid
        var drawGrid = function (ctx, w, h) {

            //get width
            ctx.canvas.width = w;
            //get height
            ctx.canvas.height = h;

            //making the grid lines
            for (x = 0; x <= w; x += 20) {
                for (y = 0; y <= h; y += 20) {
                    ctx.moveTo(x, 0);
                    ctx.lineTo(x, h);
                    ctx.stroke();
                    ctx.moveTo(0, y);
                    ctx.lineTo(w, y);
                    ctx.stroke();
                }
            }

        };

        //create canvas
        var canvas = document.getElementById("grid");
        //making the canvas something we can write on
        var ctx = canvas.getContext('2d');
        //just coming up with some random color in rgb
        function random_rgba() {
            var o = Math.round, r = Math.random, s = 255;
            return 'rgb(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ', 0.5)';
        }

        var color = random_rgba();
        console.log("Color: " + color);

        //now draw the grid
        drawGrid(ctx, 500, 500);

        //function figuring out where the canvas is clicked
        function getCursorPosition(canvas, event) {
            const rect = canvas.getBoundingClientRect()
            const relativeX = event.clientX - rect.left;
            const relativeY = event.clientY - rect.top;
            console.log("Relative Info - X: " + relativeX + " Y: " + relativeY);
            getSquare(relativeX, relativeY);
        }

        //getting the position of the mouse
        canvas = document.querySelector('canvas');
        canvas.addEventListener('mousedown', function (e) {
            getCursorPosition(canvas, e);
        })

        //getting all the information needed about this square
        function getSquare(relativeX, relativeY) {
            var x = Math.trunc(relativeX / 20);
            var y = Math.trunc(relativeY / 20);
            console.log("Info To Pass - X:" + x + " Y:" + y);

            var sqrX = x * 20;
            var sqrY = y * 20;
            //console.log("Square Mark -  X:" + sqrX + " Y:" + sqrY);
            colorSquare(sqrX, sqrY);
        }

        //now just fill in the square
        function colorSquare(sqrX, sqrY) {
            ctx.fillStyle = (color);
            ctx.fillRect(sqrX, sqrY, 20, 20);
        }
    </script>
    
</div>
