@{
    ViewData["Title"] = "Home Page";
}

<div class="toast-header">
    <h1 class="display-4">Put your big boy pants on it's game time</h1>
</div>

<div class="text-center">
    <canvas id="myCanvas" width="1200" height="1200" style="border:1px solid #000000;"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
    </script>
</div>
